::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: rgba(194, 194, 194, 0.333);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(194, 194, 194, 1);
}

::-webkit-scrollbar-corner {
  background: rgba(194, 194, 194, 0.333);
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background: #3335;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #333;
  }

  ::-webkit-scrollbar-corner {
    background: #3335;
  }
}